@import "bootstrap";

.card {
  margin-top: 20px;
}

.card-header {
  background: #577384;
  color: white;
}

.card-header button {
  width: 75px;
  margin-left: 10px;
  background-color: #c0ede2;
  color: #2d2d2d;
  border-color: #c0ede2;
  text-decoration: none;
}

.card-header button:hover {
  background-color: #629e8f;
  border-color: #629e8f;
}

.card-header button:active {
  background-color: #c0ede2;
  color: #2d2d2d;
  border-color: #c0ede2;
}

.card-header button:active:focus {
  background-color: #c0ede2;
  color: #2d2d2d;
  border-color: #c0ede2;
}

.card-header button:visited {
  background-color: #c0ede2;
  color: #2d2d2d;
  border-color: #c0ede2;
}

.card-header .col-md-5 {
  text-align: right;
}

#no-session p {
  text-align: center;
  margin-top: 20%;
  font-size: 30px;
}

.navbar-text span {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-text a {
  text-decoration: none;
}

#edit-form {
  display: none;
}

#edit-form button {
  margin-right: 10px;
}
