/* This file is for your main application css. */

@import "bootstrap";

body {
    font-family: Courier;
    color: #7c91af;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 45px;
}

h3 {
  text-align: center;
}

#welcome {
  margin-top: 40px;
}

#rules {
  font-size: 16px;
}

#welcome-msg {
  color: white;
  background: #8398a8;
  text-align: center;
}

.label {
  margin-top: 40px;
  border-radius: 5px;
  font-size: 19px;
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-control {
  width: 50%;
}

#home-btns {
  text-align: center;
}

#icon {
  margin-top: 30px;
  text-align: center;
}
