body {
  background-color: #9da998;
  font-family: Courier;
}

h1 {
  font-family: Courier;
  text-align: center;
  font-size: 45px;
}

#header {
  border: 2px solid white;
  border-style: dashed;
  padding: 10px 50px;
  border-radius: 10px;
}

#sloth-pic {
  height: 500px;
  width: auto;
  vertical-align: top;
}

#main {
  margin: 40px;
}

#sloth {
  float: left;
  margin-right: 20px;
}

#links {
  margin-bottom: 35px;
}

.body {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

a {
  padding: 10px 10px;
  background-color: #3a6766;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

a:hover {
  background-color: #213a51;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #14160c;
  padding: 10px 10px;
}

td {
  text-align: center;
}
