body {
  font-family: Courier;
  color: #6a6a6d;
}

h1 {
  text-align: center;
}

#main {
  margin: 15px 15px;
}

.row {
  clear: left;
  width: 100%;
}

.col-header {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}

.left-col {
  width: 33%;
  float: left;
}

.right-col {
  width: 66%;
  float: left;
}

.right-text {
  display: none;
  color: #e07f95;
}

a {
  text-decoration: none;
  color: #6a6a6d;
}

a:visited {
  color: #6a6a6d;
}

a:hover {
  border-bottom: 2px dashed #e07f95;
  padding-bottom: 3px;
  color: #e07f95;
}
