body {
  font-family: Courier;
  color: #6a6a6d;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td, th {
  padding: 10px 10px;
}

th {
  font-size: 19px;
}

td {
  vertical-align: top;
  font-size: 16px;
}

.left-col {
  width: 33%;
}

.right-col {
  width: 66%;
}

.right-text {
  display: none;
  color: #e07f95;
}

a {
  text-decoration: none;
  color: #353638;
}

a:visited {
  color: #353638;
}

a:hover {
  border-bottom: 2px dashed #e07f95;
  padding-bottom: 3px;
  color: #e07f95;
}
