/* This file is for your main application css. */

@import "bootstrap";

body {
  font-family: Courier;
  color: #586f7a;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 45px;
}

p {
  font-size: 20px;
}

.letter {
  font-size: 25px;
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
  border-radius: 5px;
  box-shadow: 6px 6px 8px #586f7a;
  background: #a4c6d6;
  color: #394951;
  border-color: #586f7a;
}

#winner {
  margin-top: 40px;
}

#win-text {
  font-size: 100px;
  color: #adc9d1;
}

.glyphicon-thumbs-up {
  color: #f9fffd;
  font-size: 28px;
}

label {
  font-size: 20px;
}

#error {
  color: red;
  font-size: 15px;
  display: none;
}
